!!!

%html
  %head
    %title Project Zero
    = stylesheet_link_tag 'blueprint/screen',
                          'formtastic/formtastic',
                          'formtastic/formtastic_changes',
                          'application',
                          :cache => true
    -# = stylesheet_link_tag 'blueprint/print', :media => 'print'
    -# = stylesheet_link_tag 'blueprint/ie', :condition => "lt IE 8"
    = javascript_include_tag 'jquery-1.4.2.min.js',
                             'jquery.rails.js',
                             'application.js',
                             :cache => true
    = csrf_meta_tag 
  %body
    .container
      #header.span-24.last
        #user_nav
          - if current_user
            = t(:current_user, :username => current_user.email)
            = link_to t(:logout), logout_path
          - else
            = link_to t(:register), new_user_path 
            = link_to t(:login), login_path
        #locale
          = link_to("Deutsch", :locale => "de")
          = link_to("English", :locale => "en")
        
      #left-sidebar.span-4

      #main-content.span-16
        != flash_box(:notice, :alert)
        = yield 

      #right-sidebar.span-4.last
